accelerate==1.12.0
aiofiles==25.1.0
aiohttp==3.8.1
aiosignal==1.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
argcomplete==1.8.1
async-timeout==4.0.1
attrs==21.2.0
av==16.0.1
Babel==2.8.0
backoff==2.2.1
bauh==0.10.7
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.14.2
blinker==1.4
Brlapi==0.8.3
cachetools==6.2.1
certifi==2020.6.20
cffi==2.0.0
chardet==4.0.0
charset-normalizer==2.0.6
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
coloredlogs==15.0.1
command-not-found==0.3
contourpy==1.3.2
cryptography==46.0.3
ctranslate2==4.6.1
cupshelpers==1.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dataclasses-json==0.6.7
dbus-fast==2.44.1
dbus-python==1.2.18
defer==1.0.6
Deprecated==1.3.1
diskcache==5.6.3
distro==1.7.0
dlib==20.0.0
docx==0.2.4
effdet==0.4.1
elevenlabs==2.20.1
emoji==2.15.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
face-recognition==1.3.0
face_recognition_models==0.3.0
faster-whisper==1.2.1
fido2==0.9.1
filelock==3.20.0
filetype==1.2.0
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.2.0
fsspec==2025.9.0
gemini-cli==0.2.5
google-ai-generativelanguage==0.4.0
google-api-core==2.27.0
google-api-python-client==2.185.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-cloud-vision==3.11.0
google-genai==1.52.0
google-generativeai==0.3.2
googleapis-common-protos==1.71.0
grpcio==1.76.0
grpcio-status==1.62.3
gyp==0.1
h11==0.16.0
hf-xet==1.1.10
hidpidaemon==18.4.6
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
huggingface-hub==0.35.3
humanfriendly==10.0
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.0.3
jiter==0.11.1
joblib==1.5.2
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.4.9
langdetect==1.0.9
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
linkify-it-py==2.0.3
llama_cpp_python==0.3.16
llvmlite==0.45.1
louis==3.20.0
lxml==6.0.2
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==4.0.0
MarkupSafe==2.0.1
marshmallow==3.26.1
matplotlib==3.10.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
menulibre==2.2.2
ml_dtypes==0.5.3
more-itertools==8.10.0
mpmath==1.3.0
multidict==5.1.0
mypy_extensions==1.1.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.2
numba==0.62.1
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
olefile==0.47
omegaconf==2.3.0
onnx==1.19.1
onnxruntime==1.23.2
openai==2.6.1
openai-whisper==20240930
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pdf2image==1.17.0
pdfminer.six==20250506
pdfplumber==0.11.7
pi_heif==1.1.1
pikepdf==10.0.0
pillow==12.0.0
platformdirs==4.5.0
pop-transition==1.1.2
proto-plus==1.26.1
protobuf==4.25.8
proton-core==0.7.3
proton-keyring-linux==0.2.1
proton-vpn-api-core==4.14.1
proton-vpn-daemon==0.13.4
proton-vpn-gtk-app==4.13.1
psutil==5.9.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pycairo==1.20.1
pycocotools==2.0.10
pycparser==2.23
pycups==2.0.1
pydantic==2.12.3
pydantic_core==2.41.4
pydbus==0.6.0
pydub==0.25.1
Pygments==2.19.2
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==3.2.5
pypdf==6.1.3
pypdfium2==5.0.0
pyperclip==1.11.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
pyRFC3339==1.1
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gnupg==0.4.8
python-iso639==2025.2.18
python-Levenshtein==0.12.2
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
python-xlib==0.29
pytz==2022.1
pyusb==1.3.1
pyxdg==0.27
PyYAML==5.4.1
RapidFuzz==3.14.3
regex==2025.10.23
repolib==2.2.1
repoman==1.4.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
sentry-sdk==1.4.3
sessioninstaller==0.0.0
shiboken6==6.10.0
simpleaudio==1.0.4
six==1.16.0
sniffio==1.3.1
sounddevice==0.5.3
soundfile==0.13.1
soupsieve==2.8
SpeechRecognition==3.14.3
srt==3.5.3
ssh-import-id==5.11
sympy==1.13.1
systemd-python==234
tenacity==9.1.2
textual==6.5.0
threadpoolctl==3.6.0
tiktoken==0.12.0
timm==1.0.22
tokenizers==0.22.1
toml==0.10.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.24.0
tqdm==4.67.1
transformers==4.57.1
triton==3.1.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.3
ufw==0.36.1
ulauncher==5.15.15
unstructured==0.18.15
unstructured-client==0.42.3
unstructured.pytesseract==0.3.15
unstructured_inference==1.1.1
uritemplate==4.2.0
urllib3==1.26.5
vosk==0.3.45
wadllib==1.3.6
webencodings==0.5.1
webrtcvad==2.0.10
webrtcvad-wheels==2.0.14
websocket-client==1.2.3
websockets==15.0.1
wrapt==2.0.0
xdg==5
xkit==0.0.0
yarl==1.7.2
Zenity==2.0.0
zipp==1.0.0
